* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.p-5 {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    background: linear-gradient(#e66465, #9198e5);
}

.my-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav li a {
    color: white;
    margin-top: 5px;
}

.nav li a.shortname {
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px 0px;
    padding: 8px 0px 0px 14px;

}

.sidebar {
    background-color: #6c757d !important;
    height: 92.4vh !important;
    position: fixed !important;
    margin-left: -15px;
    height: 92.4vh;
    /* position: absolute; */
    margin-left: -15px;
    min-height: 100%;
    position: fixed;
    left: 0px;
    width: 16%;
}

.sidebar .sidebar-list {
    position: absolute;
    top: 8%;
    left: 40px;
}

.sidebar .navbar-nav li a {
    color: white;
    border-bottom: 1px solid #959696;
}

.form {
    width: 79%;
    border: 1px solid lightgray;
    padding: 40px;
}

#alertBox {
    display: none;
    position: absolute;
    left: 26%;
    top: 58px;
    z-index: 99;


}

.content-box {
    width: 98%;
    border: 1px solid lightgray;
    padding: 40px;
}

#alertBox .success {
    box-shadow: 0px 0px 15px #00000042;

    color: white;
    background: green;
    padding: 10px 5px;
    font-size: 15px;
}

#alertBox .fail {
    box-shadow: 0px 0px 15px #00000042;
    color: white;
    background: red;
    padding: 10px 5px;
    font-size: 15px;
}

#confirmBox {
    position: fixed;
    left: 40%;
    top: 100px;
    background: white;
    box-shadow: 0px 0px 15px #0000003b;
    z-index: 99;
    padding: 11px;
    width: 30%;
    text-align: center;
    height: 150px;
    display: none;
}

#confirmBox p {
    color: #dc3545;
    font-size: 20px;
    position: relative;
    top: 15px
}

#confirmBox button {
    border: 0px;
    margin: 30px;
    padding: 2px 30px;
    background: #dc3545;
    color: white;
}

#hide i {
    font-size: 25px;
    margin: 10px 0px
}

.description li a {
    padding: 0px 0px;
    margin: 0px;
    color: #ffc0c6;
    border-bottom: 0px !important;
}

.sidebar-list i {
    font-size: 15px;
}

.sidebar .description.navbar-nav li a {
    color: #cccccc;
    position: relative;
    left: -5px;
    margin-bottom: 8px;
}

label::after {
    color: #ffffff !important;
    background-color: #dc3545 !important;
}

.accordion-content .description {

    color: #4f4f4f;
    cursor: pointer;
    padding: 5px 5px 5px 25px;
    max-width: 100%;
    outline: none;
    font-size: 14px;
    margin: 4px 0px;
    position: relative;
}

.accordion-content .description p {
    margin: 0px;
    color: gray;
}

.accordion-content .title {
    margin: 10px 0px;
    font-weight: normal;

    padding: 0px 0px;
    cursor: pointer;
    font-size: 15px;
    color: white;
}

.accordion-content {
    color: white;
    border-bottom: 1px solid #959696;
    position: relative;
}

.accordion-content.show .description {
    display: block;
}

.accordion-content.hide .description {
    display: none;
}

.accordion-content.hide .title::after {
    content: " ";


    padding: 0px 0px;
    font-size: 22px;

    font-size: 19px;
    font-weight: normal;
    /* float: right; */
    position: absolute;
    top: 6px;
    right: -47px;
}

.accordion-content.show .title::after {
    content: "  ";


    padding: 0px 0px;
    font-size: 22px;

    font-size: 19px;
    font-weight: normal;

    position: absolute;
    top: 6px;
    right: -47px;
}

.ml-10 {
    padding: 25px 150px;
}

.mr-lf-2-per {
    margin-left: 2%;
}

.mr-tp-1-per {
    margin-top: 2.5%;
}

.mr-tp-4-per {
    margin-top: 4%;
}

.wd-40 {
    width: 17%;
}

.mandatory {
    color: red;
    font-size: 15px;
}

.d_none {
    display: none;
}

.display_block {
    display: block !important;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 0.75rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #fff !important;
    content: "Browse";
    background-color: #cc1919 !important;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}

.container-scroller {
    overflow: hidden;
}

.page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
}

.content-wrapper {
    background: #f2edf3;
    padding: 4.75rem 4.25rem;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.flex-grow {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.auth .auth-form-light {
    background: #ffffff;
}

.auth form .form-group .form-control {
    background: transparent !important;
    border-radius: 0 !important;
    font-size: .9375rem !important;
}

.auth form .form-group {
    margin-bottom: 1.5rem !important;
}

.btn-login
{
    background: linear-gradient(80deg, #cc1919 , #e17272);
}

.bg-logo
{
    background: linear-gradient(80deg, #cc1919 , #e17272);
}

.text-right .fa
{
    font-size: 25px;
}

